.schedual_body{
  margin: auto;
  width: 100%;
}

.hoursTable {
  --size: 4.17;
  table-layout: fixed;
  border-collapse: collapse;
  font-size: 0.8rem;
  
}

.hoursTable th,
.hoursTable td{
  border: 1px solid #aaa;
  position: relative;
  padding: 2rem 1;
  min-width: calc(var(--size) * 1em);
}


.hoursTable th {
  white-space: pre;
  padding: 1rem 0;
}


.hoursTable .label2 {
  border: 1px solid#969393;
  background: rgb(251, 250, 250);
  position: relative;
  text-align: center;
  top: 0.1rem;
  height: 2.1rem;
  cursor: pointer;
  left: calc(var(--from) * var(--size) * 1em);
  width: calc((var(--to) - var(--from)) * var(--size) * 1em);
}

.hoursTable .Work{
  height: 0.5rem;
  background: rgb(3, 26, 153);
  border: none;
}
.hoursTable .DayOff{
    height: 0.5rem;
    background: rgb(11, 185, 34);
    border: none;
  }

  .hoursTable .Task,
  .hoursTable .Sick,
   .hoursTable .NoShow{
    height: 0.5rem;
    background: rgb(211, 20, 3);
    border: none;
  }

  .Annual{
    height: 0.5rem;
    background: rgb(119, 6, 225);
    border: none;
  }
 
  .Vacation  {
    height: 0.5rem;
    background: rgb(5, 149, 168);
    border: none;
  }
  



  .hoursTable .braek2 {
    position: absolute;
    border: 1px solid#969393;
    background: rgb(255, 255, 255);
    word-wrap: break-word;    
    top: 0.65rem;
    height: 2.1rem;
    z-index: 1000;
    text-align: center;
    cursor: pointer;
    left: calc(var(--from) * var(--size) * 1em);
    width: calc((var(--to) - var(--from)) * var(--size) * 1em);
  }
  
  .hoursTable .breakheader2{
    height: 0.4rem;
    background: #b5b3b3;
    border: none;
  }
  #typOfDay{
    text-align: left;
    font-size: 9px;
  }
#next-prev{
  float: right;
}
.nav-page{
  list-style-type: none;
  margin: 0;
  padding: 5px;
  background-color: rgb(47, 122, 208);
  overflow: hidden;
}

#my-schedual{
  color: #ffff;
  margin-top: 5px;
}