.nav_item{
    list-style-type: none;
    margin: 0;
    padding: 10px;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
  }
  
  li {
    float: left;
   
  }
  
  #logout{
    float: right;
  }
  
  .li a {
    display: block;
    padding: 8px;
  }

  ul li a{
    color: #fff;
    text-decoration: none;
  }

/* 
.mat-menu-item{
  z-index: 99999;

}

.mat-menu-content {
  z-index: 99999;
} */
