
<div class="employee_exception">
    <form class="form-inline" [formGroup]="filterForm" (ngSubmit)="filterByDate()">
        <div class="form-group">
            <input type="date" class="form-control mb-3 mr-sm-2" formControlName="filterDate" required>
        </div>
        <button type="submit" class="btn btn-warning mb-3 mr-sm-2"  [disabled]="!filterForm.valid" >Filter By Date</button>
        <a class="btn btn-info mb-3" (click)="clearFilter()" >Clear Filter</a>
    </form>
<table class="table table-bordered table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ExcId#</th>
        <th scope="col">Creator</th>
        <th scope="col">Date</th>
        <th scope="col">From</th>
        <th scope="col">To</th>
        <th scope="col">Exception Type</th>
        <th scope="col">Status</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody *ngIf="!isEmpty">
      <tr *ngFor="let exception of employeeExceptions">
        <th scope="row">{{exception.id}}</th>
        <td>{{exception.user['fullName']}}</td>
        <td>{{exception.exceptionDate | date: "dd-MM-yyyy"}}</td>
        <td>{{exception.from}}</td>
        <td>{{exception.to}}</td>
        <td>{{exception.exceptionType['exceptionName']}}</td>
        <td>{{exception.exceptionStatus['status']}}</td>
      <td><a href="#">Action</a></td>
      </tr>
    
    </tbody>
</table>
<p *ngIf="isEmpty" id="no_data">{{filterMsg}}</p>

</div>
