<div class="container">
    <div class="12">
        <div class="row">
            <div class="col-6" style="text-align: center;">
               
            <table class="table table-striped table-bordered">
                <thead>
                    <th>Property</th>
                    <th>Data</th>
                </thead>
                <tbody>
                    <tr>
                        <td>ExceptionId</td>
                        <td><form [formGroup]="findForm" (ngSubmit)="show()">
                            <div class="form-group">
                                <input formControlName="exceptionTypeId" style="width: 50%; margin: auto;" type="number" class="form-control">
                            </div>
                        </form></td>
                    </tr>
                    <tr>
                        <td>Shift Date</td>
                        <td>{{excepDetails.exceptionDate | date: 'dd-MM-yyyy'}}</td>
                    </tr> 
                    <tr>
                        <td>From</td>
                        <td>{{excepDetails.from | slice:0:5}}</td>
                    </tr>
                    <tr>
                        <td>To</td>
                        <td>{{excepDetails.to | slice:0:5}}</td>
                    </tr>
                    <tr>
                        <td>Exception Type</td>
                        <td>{{excepDetails.exceptionType['exceptionName']}}</td>
                    </tr>
                    <tr>
                        <td>Aprroved By</td>
                        <td>TL -  {{excepDetails.manager['fullName']}}</td>
                    </tr>
                    <tr>
                        <td>Status</td>
                        <td>{{excepDetails.exceptionStatus['status']}}</td>
                    </tr>
                    <tr>
                      <td>Comment</td>
                      <td>
                      <form [formGroup]="changeExcForm" (ngSubmit)="changeExc()">
                        <div class="form-group">
                            <textarea class="form-control" formControlName="comment"></textarea>
                        </div>
                        <input type="submit" value="Cancel" class="btn btn-warning">
                      </form>
                     </td> 
                    </tr>
                   
                </tbody>
                </table>

            </div>
            <div class="col-6">
                <table class="table table-striped table-bordered">
                    <thead>
                        <th>Creator</th>
                        <th>Comment</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let c of excepDetails.exceptionComments">
                            <!-- <td>{{c.creatorPID}}</td> -->
                            <td>Sameh Ahmed</td>
                            <td>{{c.comment}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

