<div class="my_exception">
  <form class="form-inline">
    <div class="form-group">
        <input type="date" class="form-control mb-3 mr-sm-2" required>
    </div>
    <button type="submit" class="btn btn-warning mb-3">Filter By Date</button>
</form>

<table class="table table-bordered table-striped">
    <thead class="table-dark">
      <tr>
        <th scope="col">#Exception Id</th>
        <th scope="col">Creator Name</th>
        <th scope="col">Date</th>
        <th scope="col">From</th>
        <th scope="col">To</th>
        <th scope="col">Exception Type</th>
        <th scope="col">Approved By</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let exception of allEmpExceptions">
        <th scope="row">{{exception.id}}</th>
        <td>{{exception.user['fullName']}}</td>
        <td>{{exception.exceptionDate | date: "dd-MM-yyyy"}}</td>
        <td>{{exception.from}}</td>
        <td>{{exception.to}}</td>
        <td>{{exception.exceptionType['exceptionName']}}</td>
        <td>TL - {{exception.manager['fullName']}}</td>
        <td>{{exception.exceptionStatus['status']}}</td>
      
      </tr>
    

    </tbody>
</table>
</div>
