<div class="container mt-4" style="width: 40%;margin: auto;" >
    <h2 class="text-center mb-4">Add New Employee</h2>
    <form autocomplete="off">

        <div class="form-group">
            <label for="fullName">Full Name</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="Full Name">
          </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="userName">Username</label>
            <input type="text" class="form-control"  placeholder="Username">
          </div>
          <div class="form-group col-md-6">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
          </div>
        </div>
       
        <div class="form-group">
          <label for="phoneNo">Phone Number</label>
          <input type="text" class="form-control"  placeholder="Phone Number">
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputState">Department</label>
            <select id="inputState" class="form-control">
              <option value="">Select Department</option>
              <option *ngFor="let d of departments" [value]="d.id">{{d.name}}</option>
            </select>
          </div>
          <div class="form-group col-md-6">
            <label for="inputState">Role</label>
            <select id="inputState" class="form-control">
              <option value="">Select Role</option>
              <option *ngFor="let role of roles" [value]="role.id">{{role.name}}</option>
            </select>
          </div>
         
        </div>

        <button type="submit" class="btn btn-primary col-12 mt-2">Add Employee</button>
      </form>
</div>