
<div class="all_employee_exception">
    <form class="form-inline">
        <div class="form-group">
            <input type="date" class="form-control mb-3 mr-sm-2" formControlName="filterDate" required>
        </div>
        <div class="form-group">
            <select  class="form-control mb-3 mr-sm-2">
              <option value="">Select Exception Type</option>
              <option *ngFor="let type of exceptionsTypes"[value]="type.id">{{type.exceptionName}}</option>
            </select>
        </div>

        <div class="form-group">
            <select  class="form-control mb-3 mr-sm-2">
              <option value="">Exception Status</option>
              <option *ngFor="let status of exceptionStatus" [value]="status.id">{{status.status}}</option>
            </select>
        </div>
        <button type="submit" class="btn btn-warning mb-3 mr-sm-2"  >Filter</button>
        <button class="btn btn-dark mb-3"  >Clear Filter</button>
    </form>
<table class="table table-bordered table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ExcId#</th>
        <th scope="col">Creator</th>
        <th scope="col">Date</th>
        <th scope="col">From</th>
        <th scope="col">To</th>
        <th scope="col">Exception Type</th>
        <th scope="col">Approved By</th>
        <th scope="col">Status</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody >
      <tr *ngFor="let ex of allEmpExceptions">
        <th scope="row">{{ex.id}}</th>
        <td>{{ex.user['fullName']}}</td>
        <td>{{ex.exceptionDate | date: 'dd-MM-yyyy'}}</td>
        <td>{{ex.from}}</td>
        <td>{{ex.to}}</td>
        <td>{{ex.exceptionType['exceptionName']}}</td>
        <td>{{ex.manager['fullName']}}</td>
        <td>{{ex.exceptionStatus['status']}}</td>
        <td><button class="btn btn-dark btn-sm" [routerLink]="['/wfm/exception-action', ex.user['employeePid'], ex.id]">Action</button></td>
      </tr>
    
    </tbody>
</table>
<p *ngIf="isEmpty" id="no_data">{{filterMsg}}</p>


</div>
