<ul class="nav_item">
    <li><a routerLinkActive="active" routerLink="/wfm/manage-appointments" class="btn btn-outline-primary btn-sm mr-4">Manage Appointment</a></li>
    <li><a routerLinkActive="active" routerLink="/wfm/ma" class="btn btn-outline-primary btn-sm mr-4">All Exceptions</a></li>
    <li><a routerLinkActive="active" routerLink="/wfm/dd" class="btn btn-outline-primary btn-sm mr-4">All Employees</a></li>
    <li><a routerLinkActive="active" routerLink="/wfm/create-employee" class="btn btn-outline-primary btn-sm mr-4">+ New Employee</a></li>
    <li id="logout"><a href="" class="btn btn-danger btn-sm mr-2">Logout</a></li>

</ul>