
.manage-appointment{
    margin: 10px;
    padding: 5px;
}


.all-department{
    position: fixed;
    overflow-y: scroll;
    top: 60px;
    bottom: 10px;
    border: 2px solid#ddd;
    width: 15%;
    padding: 10px;

}



.manage-employee{
  width: 100%;

}

.create-new{
  background-color: #595757;
}

.hoursTable{
  --size: 3.69;
  table-layout: fixed;
  border-collapse: collapse;
  font-size: 11px;
}

.hoursTable th,
.hoursTable td{
  border: 1px solid #aaa;
  position: relative;
  padding: 2rem 1;
  text-align: center;
  min-width: calc(var(--size) * 1em);
}
.hoursTable th {
  white-space: normal;
  padding: 1rem 0;
}


.hoursTable .exception,
.hoursTable .Task,
.hoursTable .Sick,
.hoursTable .NoShow,
.hoursTable .Annual,
.hoursTable .DayOff,
.hoursTable .Work,
.hoursTable .Vacation,
.hoursTable .braek {
  position: absolute;
  padding: 0.3rem;
  overflow: hidden;
  top: 0.75rem;
  height: 1.5rem;
  z-index: 200;
  text-align: center;
  cursor: pointer;
  left: calc(var(--from) * var(--size) * 1em);
  width: calc((var(--to) - var(--from)) * var(--size) * 1em);
  max-width: 100%;
}


#typOfDay{

  color: white;
  float: left;
  font-size: 10px;
}

.hoursTable .exception,
.hoursTable .Task,
.hoursTable .Sick,
.hoursTable .NoShow{
  background: rgb(223, 28, 28);
}

.hoursTable .Annual{
  background: rgb(156, 0, 130);
}

.hoursTable .DayOff{
  background: rgb(15, 129, 4);
}

.hoursTable .Work {
  background: rgb(70, 86, 255);

}

.hoursTable .braek  {
  background: rgb(133, 133, 132);
}

.hoursTable .Vacation  {
  background: rgb(5, 149, 168);
}

.dialog-class .mat-dialog-container{
  z-index: 19000;
  
}