<div class="manage-appointment">
  <div class="row">
    <div class="col-2" >
      <!-- department with eployee start  -->
      <div class="all-department">
      <input style="font-size: 12px;margin-bottom: 10px;" class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="search by name or department">
        <div *ngFor="let d of allEmpWithDep">
          <h5 style="font-size: 15px;font-weight: bold;cursor: pointer;">{{d.name}}</h5>
          <div>
            <li  style="font-size: 12px;cursor: pointer;text-decoration: underline;" *ngFor="let e of d.employees | filter:searchText" (click)="getEmployeeData(e.employeePid)" >{{e.fullName}} </li>
         </div>
  
        </div>
      </div>
      
    </div>
      <!-- department with eployee end  -->

      
    <div class="col-10 main-page">

           <!-- show employee data start  -->

     <div class="employee-info">
      <form class="form-inline" *ngIf="employee">
        <div class="form-group">
            <input type="text" class="form-control mb-3 mr-sm-2" value="{{employee.fullName}}" placeholder="Fullname" readonly>
        </div>
        <div class="form-group">
          <input type="text" class="form-control mb-3 mr-sm-2" value="Username: {{employee.userName}}" placeholder="Username" readonly>
      </div>
      <div class="form-group">
        <input type="text" class="form-control mb-3 mr-sm-2" value="Dep.: {{employee.departmentName}}" placeholder="Department" readonly>
      </div>
      <div class="form-group">
        <input type="text" class="form-control mb-3 mr-sm-2" value="Role: {{employee.roles[0]}}" placeholder="Role" readonly>
     </div>
   
    <button style="color: white;" class="btn btn-dark mb-3 mr-sm-2" (click)="addNewAppointment(employee.employeePID)">+ new appointment</button>
      </form>
    </div>
     <!-- show employee data end  -->
     <div class="manage-employee">


      <table class="hoursTable table table-striped">
        <thead>
          <tr>
            <th>Action</th>
            <th style="width: 90px;">Date of day</th>
            <th>12 AM</th>
            <th> 1 AM</th>
            <th> 2 AM</th>
            <th> 3 AM</th>
            <th> 4 AM</th>
            <th> 5 AM</th>
            <th> 6 AM</th>
            <th> 7 AM</th>
            <th> 8 AM</th>
            <th> 9 AM</th>
            <th>10 AM</th>
            <th>11 AM</th>
            <th>12 PM</th>
            <th> 1 PM</th>
            <th> 2 PM</th>
            <th> 3 PM</th>
            <th> 4 PM</th>
            <th> 5 PM</th>
            <th> 6 PM</th>
            <th> 7 PM</th>
            <th> 8 PM</th>
            <th> 9 PM</th>
            <th>10 PM</th>
            <th>11 PM</th>
          </tr>
        </thead>
        <tbody>
          
          <tr *ngFor="let a of allAppointment">
          
            <td style="padding: 6px;"><button class="btn btn-dark btn-sm ">+</button></td>
            <td>{{a.appointMentDate | date: "dd-MM-yyyy"}}</td>
            <td colspan="24">
              <div [class]="a.typeOfDay['typeName']"style="--from:{{a.from | slice:0:2}}; --to:{{a.to ==='00:00:00' ? '24:00:00' : a.to | slice:0:2}}">
                <p id="typOfDay">{{a.typeOfDay['typeName']}}</p>
              </div>
              <div class="braek"  *ngFor="let b of a.breaks"  style="--from:{{b.from | slice:0:2}}.{{b.from | slice:3:4}}; --to:{{b.to | slice:0:2}}.{{b.to | slice:3:4}}">
                <p id="typOfDay">Break</p>
              </div>

              <div class="exception" *ngFor="let ex of a.exceptions" style="--from:{{ex.from | slice:0:2}}.{{ex.from | slice:3:4}}; --to:{{ex.to | slice:0:2}}.{{ex.to | slice:3:4}}">
                <p id="typOfDay">Exception</p>
              </div>
            </td>
          </tr>
        </tbody>

      </table>
      <p style="text-align: center; color: red; font-weight: bold;" *ngIf="noAppointment">No appointment yet!</p>
      
     </div>
    </div>
  </div>
</div>


