<div class="login-user">
    <div class="row">
        <div class="col-8">
            <img class="wfm-img"  src="assets/images/wfm3.jpg" alt="login-logo">
        </div>
        <div class="col-4 col-sm login-main-form" >
            <h2 id="login-header">Workforce Management</h2>
            
            <div class="login-form">
                <form>
                   <div class="form-group">
                      <input type="text" class="form-control input-login" placeholder="Username">
                   </div>
                   <div class="form-group">
                      <input type="password" class="form-control input-login" placeholder="Password">
                   </div>
                   <button type="submit" class="col-12 mt-3 input-login" id="login-btn">Login</button>
                </form>
             </div>
        </div>
    </div>
</div>